In [3]:
import numpy as np
import pandas as pd, seaborn as sns
import matplotlib.pyplot as plt

## STACK()

### Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame. 

### Syntax: 
* DataFrame.stack(level=-1, dropna=_NoDefault.no_default, sort=_NoDefault.no_default, future_stack=False)
* parameters :
*  level :
   - int, str, list, default -1
   - Level(s) to stack from the column axis onto the index axis, defined as one index or label, or a list of indices or labels.
* dropna :
   - bool, default True
   - Whether to drop rows in the resulting Frame/Series with missing values. Stacking a column level onto the index axis can create combinations of index and column values that are missing from the original dataframe. See Examples section.

* sort :
   - bool, default True
   - Whether to sort the levels of the resulting MultiIndex.

In [4]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
x = df.groupby(['species'])[['sepal_length','sepal_width','petal_length','petal_width']].agg(['mean','std','median','min'])
x

           sepal_length                       sepal_width                   \
                   mean       std median  min        mean       std median
species
setosa            5.006  0.352490    5.0  4.3       3.428  0.379064    3.4
versicolor        5.936  0.516171    5.9  4.9       2.770  0.313798    2.8
virginica         6.588  0.635880    6.5  4.9       2.974  0.322497    3.0

                petal_length                       petal_width            \
            min         mean       std median  min        mean       std
species
setosa      2.3        1.462  0.173664   1.50  1.0       0.246  0.105386
versicolor  2.0        4.260  0.469911   4.35  3.0       1.326  0.197753
virginica   2.2        5.552  0.551895   5.55  4.5       2.026  0.274650


           median  min
species
setosa        0.2  0.1
versicolor    1.3  1.0
virginica     2.0  1.4

In [6]:
df_stacked =  x.stack(level = 0) # level zero column names are moves to the row names
df_stacked

                          mean  median  min       std
species
setosa     petal_length  1.462    1.50  1.0  0.173664
           petal_width   0.246    0.20  0.1  0.105386
           sepal_length  5.006    5.00  4.3  0.352490
           sepal_width   3.428    3.40  2.3  0.379064
versicolor petal_length  4.260    4.35  3.0  0.469911
           petal_width   1.326    1.30  1.0  0.197753
           sepal_length  5.936    5.90  4.9  0.516171
           sepal_width   2.770    2.80  2.0  0.313798
virginica  petal_length  5.552    5.55  4.5  0.551895
           petal_width   2.026    2.00  1.4  0.274650
           sepal_length  6.588    6.50  4.9  0.635880
           sepal_width   2.974    3.00  2.2  0.322497

In [8]:
x.stack(level = 1) # the level one column names are move to row names

                   sepal_length  sepal_width  petal_length  petal_width
species
setosa     mean        5.006000     3.428000      1.462000     0.246000
           std         0.352490     0.379064      0.173664     0.105386
           median      5.000000     3.400000      1.500000     0.200000
           min         4.300000     2.300000      1.000000     0.100000
versicolor mean        5.936000     2.770000      4.260000     1.326000
           std         0.516171     0.313798      0.469911     0.197753
           median      5.900000     2.800000      4.350000     1.300000
           min         4.900000     2.000000      3.000000     1.000000
virginica  mean        6.588000     2.974000      5.552000     2.026000
           std         0.635880     0.322497      0.551895     0.274650
           median      6.500000     3.000000      5.550000     2.000000
           min         4.900000     2.200000      4.500000     1.400000

## UNSTACK():
###  unstack() is used to reshape the given Pandas DataFrame by transposing specified row level to column level. By default, it transposes the innermost row level into a column level.
### Syntax : DataFrame.unstack(level=-1, fill_value=None, sort=True)
### Parameters:
* level :
  - int, str, or list of these, default -1 (last level)
  - Level(s) of index to unstack, can pass level name.

* fill_value :
   - int, str or dict
   - Replace NaN with this value if the unstack produces missing values.

* sort :
   - bool, default True

In [10]:
df_stacked.unstack(level = 0)

               mean                      median                         min  \
species      setosa versicolor virginica setosa versicolor virginica setosa
petal_length  1.462      4.260     5.552    1.5       4.35      5.55    1.0
petal_width   0.246      1.326     2.026    0.2       1.30      2.00    0.1
sepal_length  5.006      5.936     6.588    5.0       5.90      6.50    4.3
sepal_width   3.428      2.770     2.974    3.4       2.80      3.00    2.3

                                        std
species      versicolor virginica    setosa versicolor virginica
petal_length        3.0       4.5  0.173664   0.469911  0.551895
petal_width         1.0       1.4  0.105386   0.197753  0.274650
sepal_length        4.9       4.9  0.352490   0.516171  0.635880
sepal_width         2.0       2.2  0.379064   0.313798  0.322497

In [11]:
df_stacked.unstack(level = 1)

                   mean                                            median  \
           petal_length petal_width sepal_length sepal_width petal_length
species
setosa            1.462       0.246        5.006       3.428         1.50
versicolor        4.260       1.326        5.936       2.770         4.35
virginica         5.552       2.026        6.588       2.974         5.55

                                                         min              \
           petal_width sepal_length sepal_width petal_length petal_width
species
setosa             0.2          5.0         3.4          1.0         0.1
versicolor         1.3          5.9         2.8          3.0         1.0
virginica          2.0          6.5         3.0          4.5         1.4

                                             std                           \
           sepal_length sepal_width petal_length petal_width sepal_length
species
setosa              4.3         2.3     0.173664    0.105386     0.352490
versicolor          4.9         2.0     0.469911    0.197753     0.516171
virginica           4.9         2.2     0.551895    0.274650     0.635880


           sepal_width
species
setosa        0.379064
versicolor    0.313798
virginica     0.322497

In [15]:
df_stacked.unstack(level = -1)

                   mean                                            median  \
           petal_length petal_width sepal_length sepal_width petal_length
species
setosa            1.462       0.246        5.006       3.428         1.50
versicolor        4.260       1.326        5.936       2.770         4.35
virginica         5.552       2.026        6.588       2.974         5.55

                                                         min              \
           petal_width sepal_length sepal_width petal_length petal_width
species
setosa             0.2          5.0         3.4          1.0         0.1
versicolor         1.3          5.9         2.8          3.0         1.0
virginica          2.0          6.5         3.0          4.5         1.4

                                             std                           \
           sepal_length sepal_width petal_length petal_width sepal_length
species
setosa              4.3         2.3     0.173664    0.105386     0.352490
versicolor          4.9         2.0     0.469911    0.197753     0.516171
virginica           4.9         2.2     0.551895    0.274650     0.635880


           sepal_width
species
setosa        0.379064
versicolor    0.313798
virginica     0.322497